h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Jost', sans-serif;
    text-decoration: none;
}

h2 {
    font-size: 60px;
    line-height: 65px;
    color: #191919 !important;
    font-weight: 500;
}