    .container img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        -webkit-border-radius: ;
        -moz-border-radius: ;
        -ms-border-radius: ;
        -o-border-radius: ;
        position: absolute;
        margin-right: 330px;
    }
    
    .icon {
        position: absolute;
        margin-left: 350px;
    }
    
    .icon i {
        color: gray;
    }
    
    input {
        width: 450px;
        height: 50px;
        color: gray;
        text-align: center;
        border-radius: 30px;
        -webkit-border-radius: ;
        -moz-border-radius: ;
        -ms-border-radius: ;
        -o-border-radius: ;
        border: 1px solid gray;
        outline: none;
        font-weight: 400;
        font-size: 15px;
    }
    
    body {
        margin: 0 auto;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    
    .container {
        width: 600px;
        height: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .comment {
        width: 450px;
        display: flex;
        padding: 10px;
        height: 100px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    
    .items {
        margin-top: -20px;
    }
    
    .item {
        display: flex;
    }
    
    .item p {
        margin-top: 25px;
        margin-left: 10px;
    }
    
    .comment img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 20px;
    }
    
    .items h5 {
        width: 320px;
        height: 80px;
        font-weight: 400;
        position: absolute;
        margin-top: -20px;
    }
    
    .comments {
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        position: absolute;
        margin-top: 120px;
    }
    
    .count {
        position: absolute;
        margin-top: 70px;
        margin-left: 350px;
        color: gray;
    }