$border: 1px solid red;
$zero-px: 0px;
$five-px: 5px;
$ten-px: 10px;
$twenty-px: 20px;
$bg-color: #343a40;
.navbar_brand_logo {
    // border: $border
}

.navbar_brand_nav {
    // border: $border;
    display: flex;
    align-items: center;
    ul {
        display: flex;
        align-items: center;
        li {
            margin: $zero-px $ten-px;
        }
    }
}

.navbar_user {
    // border: $border;
    display: flex;
    align-items: center;
    button {
        background: $bg-color;
        color: white;
        padding: $ten-px $twenty-px;
        margin: $zero-px $five-px;
        border-radius: $twenty-px;
        -webkit-border-radius: $twenty-px;
        -moz-border-radius: $twenty-px;
        -ms-border-radius: $twenty-px;
        -o-border-radius: $twenty-px;
    }
}