$main-color:#F2F2F2;
$gradient:linear-gradient(90deg, rgba(232, 77, 112, 1) 0%, rgba(163, 55, 246, 1) 35%, rgba(40, 167, 237, 1) 100%);
$tundgoy:#373F68;
$mor:#AD1FEA;
$goy:#4661E6;
$qehveyi: #F49F85;
$aciqmavi: #62BCFA;